@use '../abstracts/variables' as variables;

.modal-container {
	position: fixed;
	inset: 0;
	display: grid;
	place-items: center;
	z-index: 15;
	pointer-events: none;
	transition: transform 0.5s, opacity 0.5s;
	@media only screen and (max-width: 500px) {
		justify-items: center;
		align-items: flex-end;
	}
}
.register-form {
	width: clamp(400px, 35vw, 700px);
	padding-bottom: 8vh;
	pointer-events: all;
}
