@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;

.section-title {
	font-size: clamp(28px, 3.3vw + 0.5rem, 56px);
	font-weight: 700;
	line-height: 1;

	@media only screen and (max-width: 768px) {
		max-width: 20ch;
	}
}
.section-backticktext {
	display: flex;
	gap: 1.6rem;
	align-items: flex-start;
	&__text {
		margin-top: 10px;
		max-width: 30ch;
		font-weight: 500;
		font-size: max(1.2rem, 20px);
	}
}
.section-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.backtick {
	width: 2rem;
	aspect-ratio: 38/29;
}
.container {
	background-color: variables.$clr-background;
	color: variables.$clr-secondary;
}
.leaf {
	width: clamp(520px, 50vw, 925px);
	aspect-ratio: 905 / 653;
	position: absolute;
}
.logo {
	width: 89px;
	height: 62px;
	@media only screen and (max-width: 768px) {
		width: 56px;
		height: 39px;
	}
}
.overlay {
	position: fixed;
	inset: 0;
	background-color: #0e090a8f;
	transition: opacity 0.5s;
	z-index: 10;
	@include mixins.invisible;
}
.checkbox {
	display: none;
	&:checked ~ .overlay {
		@include mixins.visible;
	}
}
.menu-checkbox {
	&:not(:checked) ~ .menu {
		transform: translateX(100%);
	}
}

.register-checkbox {
	&:not(:checked) ~ .modal-container {
		transform: scale(0.7);
		opacity: 0;
		@media only screen and (max-width: 768px) {
			transform: translateY(25%);
			opacity: 0;
		}
	}
	&:not(:checked) ~ .modal-container .register-form {
		pointer-events: none;
	}
}

.link-tel {
	display: flex;
	gap: 1rem;
	font-size: 1.3rem;
	font-weight: 600;
	align-items: center;
	color: variables.$clr-light;
	&--big {
		@media only screen and (max-width: 768px) {
			display: none;
		}
	}
	&--small {
		@media only screen and (min-width: 768px) {
			display: none;
		}
	}
	&:hover {
		.icon-container {
			background-color: variables.$clr-light;
		}
		.icon {
			fill: variables.$clr-primary !important;
		}
	}
}
