$font-base: 'Inter', sans-serif;

$clr-primary: #d62f50;
$clr-secondary: #2d1d21;
$clr-tertiary: #81545d;
$clr-background: #f5f1f2;
$clr-light: #fbeaee;
$clr-dark-background: #c6b2b6;
$clr-divider: #e8e0e1;
$clr-pink: #f2bfc9;
$clr-primary-dark: #a1233c;
