@use '../abstracts/variables' as variables;

.convenience {
	display: flex;
	flex-direction: column;
	gap: max(4vw, 25px);

	@media only screen and (max-width: 768px) {
		padding-top: 34px;
		padding-bottom: 0;
	}
	.section-backticktext {
		@media only screen and (max-width: 768px) {
			display: none;
		}
	}
	&__item {
		background-color: #fff;
		box-shadow: 0px 4px 10px 0px #9c789314;
		border-radius: 16.41px;
		padding: 1.5rem 2rem;
		display: flex;
		position: relative;
		overflow: hidden;
		@media only screen and (max-width: 768px) {
			padding: 36px 12px;
		}
		&:first-child .convenience__item-image {
			top: auto;
			bottom: -0.5rem;
			right: 0.2rem;
			@media only screen and (max-width: 768px) {
				width: 50%;
				right: -15%;
			}
		}
		&:nth-child(2) .convenience__item-image {
			width: 45%;
			right: -10%;
			@media only screen and (max-width: 768px) {
				top: -15%;
				bottom: auto;
				width: 40%;
				right: 0;
			}
		}
		&:nth-child(2) .convenience__item-content {
			@media only screen and (max-width: 768px) {
				max-width: 70%;
			}
		}
		&:last-child .convenience__item-image {
			// bottom: 0;
			// top: auto;
			width: 60%;
			right: -5%;
			top: 0;
			@media only screen and (max-width: 768px) {
				width: 50%;
			}
		}
		&:last-child .convenience__item-content {
			width: 50%;
			@media only screen and (max-width: 768px) {
				width: 60%;
			}
		}
		&-content {
			display: flex;
			flex-direction: column;
			gap: max(1vw, 10px);
			max-width: 65%;
			@media only screen and (max-width: 768px) {
				max-width: 60%;
			}
		}
		&-title {
			font-size: 1.4rem;
			font-weight: 700;
		}
		&-text {
			opacity: 0.7;
			color: variables.$clr-secondary;
			font-size: 1rem;
		}
		&-image {
			position: absolute;
			right: 1rem;
			top: 0;
			width: 35%;
		}
	}
	&__list {
		display: grid;
		column-gap: 24px;
		row-gap: 13px;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}
