@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;

.gains {
	@include mixins.curvy-section;

	display: flex;
	flex-direction: column;
	gap: max(5vw, 26px);
	position: relative;
	overflow: hidden;
	&__check {
		position: absolute;

		width: clamp(150px, 30vw, 600px);
		height: auto;
		object-fit: cover;
		right: -5%;
		@media only screen and (min-width: 768px) {
			bottom: -10%;
		}
		@media only screen and (max-width: 768px) {
			width: 150px;
			right: -2.2rem;
			top: 5%;
		}
	}
	&__list {
		display: grid;
		gap: 25px;
		grid-auto-rows: 1fr;
	}
	&__item {
		box-shadow: 0px 3.79px 10.11px 0px #9c789314;
		border-radius: 15.16px;
		display: grid;
		grid-template-columns: 15rem 17ch max-content 1fr;
		align-items: center;
		gap: 2vw;
		@media only screen and (max-width: 700px) {
			grid-template-columns: 1fr;
			gap: 10px;
			border: 1px solid #d62f5033;
			padding: 25px;
		}
		&-title {
			font-size: 1.3rem;
			font-weight: 700;
		}
		&-text {
			max-width: 30ch;
			font-size: 1.1rem;
			.text-tertiary {
				font-weight: 600;
			}
		}
		&-divider {
			width: 1.2px;
			background-color: #0e090a;
			height: 50%;
			opacity: 0.1;
			margin: 0 4vw;
			@media only screen and (max-width: 900px) {
				margin: 0 1vw;
			}
			@media only screen and (max-width: 700px) {
				display: none;
			}
		}
		&-image {
			width: 100%;
			height: auto;
			object-fit: contain;
			aspect-ratio: 246/145;
			filter: drop-shadow(6px 6.79px 12.11px rgba(156, 120, 147, 0.3725490196));
		}
	}
}
