@use '../abstracts/variables' as variables;

@keyframes scale-up {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
@keyframes slide-up {
	from {
		transform: translateY(50%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slide-down {
	from {
		transform: translateY(-50%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.header {
	background-color: rgba(variables.$clr-primary, 0.8);
	backdrop-filter: blur(10.8px);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	--resize-val: 4vw + 0.75rem;
	padding: 0.6rem clamp(26px, var(--resize-val), 5rem);

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 5;
	@media only screen and (max-width: 1240px) {
		--resize-val: 3.5vw;
	}
	@media only screen and (max-width: 1000px) {
		grid-template-columns: 1fr 2fr;
	}
	@media only screen and (max-width: 768px) {
		grid-template-columns: repeat(3, max-content);
		justify-content: space-between;
		align-items: center;
	}
	&__button {
		transition: opacity 0.4s;
		animation: scale-up 0.5s both 0.4s;
		label {
			cursor: pointer;
		}
		&:hover {
			opacity: 0.5;
		}
		.icon {
			width: 1.8rem;
			height: 1.8rem;
			fill: variables.$clr-light;
		}
	}
	&__right {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	& .header__links {
		@media only screen and (max-width: 768px) {
			display: none;
		}
	}
	.logo {
		animation: slide-up 0.8s both;
	}
	.link-tel {
		animation: slide-down 0.5s both 0.1s;
	}
	li {
		animation: scale-up 0.5s both;
		@for $index from 1 through 4 {
			&:nth-child(#{$index}) {
				animation-delay: $index * 0.1s;
			}
		}
	}
	&__links {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}
