@use '../abstracts/variables' as variables;

.tutorial {
	margin-top: 3.5rem;
	padding-bottom: 3.5rem;
	display: flex;
	flex-direction: column;
	gap: max(4vw, 40px);

	@media only screen and (max-width: 768px) {
		margin-top: 34px;
		padding-top: 0;
	}

	&__list {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 5vw;
		row-gap: 50px;
		position: relative;
		@media only screen and (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	}
	&__stick {
		position: absolute;
		background-color: variables.$clr-primary;
		height: 6px;
		align-self: center;
		width: 100%;
		transform: translateX(50%);
		@media only screen and (max-width: 768px) {
			width: 6px;
			height: 100%;
			transform: translateY(50%);
		}
		&-3 {
			width: 6px;
			height: 100%;
			transform: translateY(50%);
		}
		&-5 {
			display: none;
		}
	}
	&__item {
		background-color: variables.$clr-primary;
		border-radius: 32px;
		aspect-ratio: 356/150;
		display: grid;
		place-items: center;
		color: #fff;
		font-size: 1.3rem;
		font-weight: 600;
		text-align: center;
		position: relative;
		@media only screen and (max-width: 768px) {
			aspect-ratio: 296 / 125;
		}
		span {
			z-index: 2;
		}
		&:not(.tutorial__item--backtick) {
			&::after {
				position: absolute;
				content: attr(data-number);
				background-color: variables.$clr-background;
				width: 2.8rem;
				height: 2.8rem;
				display: grid;
				top: -1.4rem;
				border-radius: 0.7rem;
				place-items: center;
				color: variables.$clr-tertiary;
				font-size: 1.4rem;
			}
		}
		&--backtick {
			background-color: transparent;
			color: variables.$clr-secondary;
			@media only screen and (max-width: 768px) {
				order: 5;
			}
			div {
				justify-content: center;
				gap: 10px;
				text-align: left;

				span {
					max-width: 20ch;
				}
			}
		}
		span {
			max-width: 15ch;
		}
		@media only screen and (max-width: 768px) {
			border-radius: 26px;
		}
	}
}
